main {
    display: flex;
    justify-content: flex-end;
}

section {
    height: 100vh;
}
.yeux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.oeil {
    width: 33.33vh;
    height: 33.33vh;
    background-color: yellow;
}

.deuxyeux {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    width: 100%;
}

.vide {
    background-color: transparent;
}