* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin';
    letter-spacing: .2rem;
}

body {
    background-color: #161616;
    color: white;
}

h1, h2 {
    text-transform: uppercase; 
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #a0a0a0;
    font-size: 2rem; 
}

h3 {
    font-size: 0.855rem;
}

/*************HEADER***************/
.logo {
    width: 10vw;
}
img {
    width: 100%;
}

/********************************/
/*       PAGE CONTACT         */
/*************MAIN************/

.contenu-contact {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*flex-wrap: wrap;*/
}


.contenu-contact > section {
    width: 40%;
}

.coordonnees{
    margin-bottom: 5%;
}

.coordonnees > h3 {
    margin-top: 2%;
}

iframe {
    /*filter: grayscale(1) invert(1);*/
    filter: grayscale(1);
}

/********FORM*************/
.informations {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.informations > input {
    width: 45%;
}

form > div {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea, select {
    background-color: transparent;
    color: white;
}

.donnees {
    border: none;
    border-radius: 0; 
    border-bottom: 1px solid white;
}

label, .informations > input, select {
    padding-bottom: 2%;
}

textarea {
    width: 100%;
    height: 20vh;
    border: 1px solid white;
    padding: 1.5%;
}

.bouton {
    background-color: white;
    border: none;
    color: #161616;
    width: 12rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/angle-down-solid.svg) no-repeat right;
}

/*      FIN PAGE CONTACT       */

/********************************/

/*      PAGE PROJETS            */

.projets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.projets > article {
    display: flex;
    flex-direction: column;
    width: 40%;
}
  
.blocprojets {
    width:  100%;
    height: 20vh;
    margin-bottom: 2%;
    background-color: yellow;
}

.blocprojets > img {
    height: 100%;
}


/*************************/
/* Pour tous les écrans plus petits qu'une tablette (768px)*/

@media (max-width: 767.98px) {
    .contenu-contact > section {
        width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contenu-contact {
        justify-content: center;
    }

    .informations {
        flex-direction: column;
    }

    .informations > input {
        width: 100%;
    }

    .bouton {
        width: 100%;
    }

    main, .contenu-contact, .informations {
        flex-wrap: wrap;
    }

    input, select, .message {
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .coordonnees > h3 {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .projets {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .projets > article {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}